BOT_TOKEN=your_telegram_bot_token_here

AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here
AZURE_CONTAINER_NAME=receipts

REDIS_URL=redis://redis:6379/0

GEMINI_API_KEY=your_api_key